<div class="row">
  <div class="col-12 col-md-3">
    <%= render 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heding">
        Welcome to the RailsChatTutorail!
      </h4>

      <p>
        We need to talk.
      </p>

      <hr />

      <p>
        You can ceate or join a room from the sidebar.
      </p>
    </div>
  </div>
</div>

