.avatar {
  max-height: 30px;
  border-radius: 15px;
  width: auto;
  vertical-align: middle;
}

.room-nav-link {
  border: solid 1px #b8daff;
  background-color: #cce5ff;
  

  & + .room-nav-link {
    border-top: 0 none;
  }
}

.chat {
  border: solid 1px grey;
  background: lightgrey;
  height: 50vh;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;
}

.chat-input {
  border-top: 0 none;
  border-radius: 0 0 5px 5px;
}